.course-card {
  /* border: 2px solid rgb(214, 207, 205); */
  border-radius: 8px;
  padding: 7px;
  width: 100%;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}
.course-card a {
  text-decoration: none;
  color: black;
}
.instructor {
  color: rgb(111, 107, 107);
  font-size: 13px;
  font-weight: 500;
}
.rating {
  font-weight: 600;
}
.star {
  font-size: 13px;
}
.rater {
  color: gray;
  font-size: 14px;
}
.price {
  font-weight: 600;
  font-size: 19px;
}
.discount {
  text-decoration: line-through;
  color: rgb(173, 165, 165);
}
