.login-body {
  height: 100vh;
}
.login {
  width: 35%;
  margin: 40px auto 20px;
  height: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 10px 3px;
}
.log-sign {
  font-size: 20px;
  font-weight: 700;
}
.input input {
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 20px;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}
::placeholder {
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.checkbox {
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.checkbox input {
  border: 1.5px solid black;
}
.forgot a {
  color: tomato;
  font-weight: 500;
  font-size: 14px;
}
.btn-login button {
  width: 100%;
  color: black;
  background-color: tomato;
  font-weight: 500;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}
.info {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
.info a {
  color: tomato;
}
.twin-border {
  width: 25%;
  margin: 0 auto;
}
.border-custom {
  border: 25% solid salmon;
}
.icon {
  font-size: 25px;
}
.btn-google {
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid tomato;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}
.btn-google:hover {
  color: white;
  background-color: tomato;
}
.icon-text {
  font-size: 14px;
  font-weight: 500;
}
.btn-github {
  border: 1px solid black;
}
@media screen and (max-width: 576px) {
  .login {
    width: 100%;
    margin-top: 50px;
  }
  .btn-text-google {
    width: 200px;
  }
}
