.sidebar {
  height: 100%;
  margin: 0px;
  width: 100%;
}
.sidebar-link {
  padding-top: 50px;
}
.sidebar a {
  text-decoration: none;
  /* color: white; */
  /* font-weight: 500;
  border: 1px solid tomato;
  padding: 5px 10px;
  border-radius: 50px 50px 50px;
  margin-top: 10px;
  display: inline-block;
  text-align: start;
  color: tomato; */
  background: linear-gradient(#3503b8, #06044d);
  font-weight: 500;
  color: white;
  padding: 10px 13px;
  border-radius: 8px;
  outline: 1px solid white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
  display: inline-block;
}
.sidebar a:hover {
  text-decoration: underline;
  /* background: tomato; */
  background: #06044d;
  color: white;
}
