.home {
  /* background: linear-gradient(to bottom right, #3503b8, #06044d); */
  height: 100vh;
}
.home-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 100px 50px;
  align-items: center;
  gap: 50px;
}
.intro-speech {
  font-size: 47px;
  font-family: fantasy;
}
.description {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.btn-home {
  background: linear-gradient(#3503b8, #06044d);
  color: white;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 50px 50px 50px;
  outline: 1px solid white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn-home:hover {
  background: #06044d;
}
