.header {
  /* background: rgba(0, 0, 0, 0.001); */
  /* background: linear-gradient(to bottom right, #3503b8, #06044d); */
  background-color: #06042c;
}
.header a {
  text-decoration: none;
  margin: 5px 15px;
  font-weight: 500;
  color: white;
}
.header a:hover {
  text-decoration: underline;
}
.link-list {
  margin-left: 100px;
}

@media screen and (max-width: 576px) {
  .link-list {
    text-align: center;
    margin-left: 0;
  }
}
