.signUp-body {
  height: 100vh;
}
.register {
  width: 35%;
  margin: 40px auto 20px;
  height: 450px;
  padding: 20px;
  background: white;
  border-radius: 9px;
  box-shadow: 0 0 10px 5px;
}
@media screen and (max-width: 576px) {
  .register {
    width: 100%;
  }
}
